{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Homepage
{% endblock %}

{% block body %}

    {# Mon commentaire #}
    <div class="example-wrapper">
        {% if firstName is not defined %}
            <h1>Hello {{ firstName }}!</h1>
        {% endif %}

        {{ dump(figures) }}
        {% for figure in figures %}
            {{ figure.name }} <br>
        {% endfor %}
    </div>

{% endblock %}
